html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000011;
  color: #ffffff;
}

h1 {
  font-family: 'Helvetica', cursive;
  text-align: center;
  font-size: 2rem;
  padding: 0 3rem;
}

#map_container {
  position: relative;
  padding-top: 1%;
}

#map {
  width: 70vw;
  height: 60vh;
  /*align: center;*/
  margin-left:auto; 
  margin-right:auto;
}

.gm-style-iw-d {
  color: #000000;
}

